  .loader{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.521);

  &-img{
    position: absolute;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &>.img-fluidCus{
      width: 100%;
      display: block;
      margin-inline: auto;
      max-width: 340px;
    }

  }


   .content{
    border-radius: 7px;
    text-align: center;
    padding: 23px 17px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
     h2{
    text-align: center;
    }


  .message{
    font-size: 1.1em;
  }
  button{
    background-color: rgb(49, 49, 155);
    padding: 8px 15px;
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: .8rem;
  }
  .icon{
    margin-bottom: .9rem;
    color: rgb(236, 63, 33);
    font-size: 4em;
  }

}
