// Custom.scss

// scss-docs-start import-stack
// Configuration
@import "../../node_modules/bootstrap/scss/functions";


$grid-breakpoints: (
  xs: 0,
  sm: 670px,
  md: 768px,
  cmd: 850px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

// Import Custom Variables
@import "variables";


@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";

//Custom Map Merges
@import "map-merges";


$utilities: ();


@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

// Layout & components
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/alert";
@import "../../node_modules/bootstrap/scss/list-group";
@import "../../node_modules/bootstrap/scss/close";
@import "../../node_modules/bootstrap/scss/toasts";
@import "../../node_modules/bootstrap/scss/modal";
@import "../../node_modules/bootstrap/scss/tooltip";
@import "../../node_modules/bootstrap/scss/popover";
@import "../../node_modules/bootstrap/scss/carousel";
@import "../../node_modules/bootstrap/scss/spinners";
@import "../../node_modules/bootstrap/scss/offcanvas";
@import "../../node_modules/bootstrap/scss/placeholders";

// Helpers
@import "../../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../../node_modules/bootstrap/scss/utilities/api";
// scss-docs-end import-stack


// Import Mixins
@import "mixins";

// Import Side Bar
@import "sideBar";

// Import Modal
@import "modal";

// Import LoaderOverlay
@import "loaderOverlay";

:root {
  font-size: 16px;
}

body {
  margin: 0;
  //   width: 100vw;
  overflow-x: hidden !important;
  background-color: $bodyBackgroundColor;
    @include media-breakpoint-down(sm){
    font-size: 14px;
  }

}
.row {
  margin-inline: 0;
}

.platform {
  min-height: 100vh;
}


div.welcome {
  background-image: $welcomeColor2;
  color: white;
  box-shadow: $borderShadowCards;

  span.welcome {
    font-size: 2.5rem;
  }

  .hide {
    font-size: 0.8rem;
  }

  .hideX {
    background-color: white;
    border-radius: 50%;
    font-size: 0.7rem;
    padding: 3px 5px;
    margin-right: 8px;

    i {
      color: shade-color($logoBlueSubtle, 40%);
      font-weight: bolder;
    }
  }

  @include media-breakpoint-down(sm){
    display: none;
  }
}

div.title {
  span {
    justify-content: space-between;
    color: shade-color($logoBlueSubtle, 40%);
    padding: 0.8rem;

    &::after {
      color: shade-color($logoBlueSubtle, 40%);
      font-size: 0.8em;
      content: "\25BC";
      // content: "\25B2";
      display: block;
      background-color: transparent;
      border: none;
    }
  }
}

.body-dom {
  margin-left: 213px;
  //   padding-right: 2.3rem;
  //   padding-left: 0.6rem;

  @include transitionGen();
  @include media-breakpoint-down(md) {
    margin-left: 0px;
    // padding-inline-end: 3rem;
  }
}

.col-contain-name {
  background-color: $foreGroundColor;
  color: shade-color($logoBlueSubtle, 40%);
  box-shadow: $borderShadowCards1;
  border-radius: 5px;

  // background-color: white;

  justify-content: flex-start;
  align-items: center;
  @include shadowTransition();

  .profileImage {
    margin-right: 1rem;
    img {
      border-radius: 50%;
      width: 5rem;
    }
    // flex-basis: 30%;
  }

  .detail1 {
    .name {
      font-weight: bold;
      font-size: 1.2em;
    }

    // .name-detail{
    //     // font-size: .9em;
    // }
  }
}

@mixin cards() {
  @extend .col-contain-name;

  & > div:nth-of-type(1) {
    @extend .profileImage;
  }
  & > div:nth-of-type(2) {
    @extend .detail1;
    & > :nth-child(1) {
      @extend .name;
    }
  }
}

.col-contain-id,
.col-contain-account-val,
.col-contain-investment,
.col-contain-availFunds,
.col-contain-earningRate {
  @include cards();
  background-color: $backForeColor;
  @include shadowTransition();
}

.table-custom {
  box-shadow: $borderShadowCards1;
  @include shadowTransition();
  border-radius: 5px;

  table {
    border-radius: 10px;

    tr > :nth-child(3) {
      min-width: 142px;
    }
  }

  td,
  th {
    min-width: 86px;
  }

  tr:nth-of-type(odd) > td {
    background-color: rgb(208, 229, 250);

    :hover {
    }
  }

  thead tr th {
    background-color: tint-color($tableHeader, 20%);
    color: white;
  }
}

i.conceptIcons {
  font-size: 1.9em;
}

.infoDiv{
  padding-bottom: 1rem;
}

// section.ACredentials{
//   padding: 3rem 1.5rem;
// }


.noRef{
  font-style: italic;
  background-color: rgb(136 131 131);
  color: white;
  display: flex;
  justify-content:center;
  align-items: center;
  height: 90px;
  font-size: 1.2em;
}


